/*
 * Copyright 2014 DataSoft Corporation
 * Based on vf610-twr.dts, Copyright 2013 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

/dts-v1/;
#include "dsvsom-1190.dtsi"

/ {
	model = "DataSoft Sidebridge II.5";

	chosen {
		bootargs = "console=ttyLP2,115200";
	};
};

&iomuxc {
	dsvsom-1138 {

		pinctrl_usb0: usb0grp {
			fsl,pins = <
				VF610_PAD_PTA16__USB0_VBUS_EN		0x0182
				VF610_PAD_PTA17__USB0_VBUS_OC		0x0181
			>;
		};

		pinctrl_uart2: uart2grp {
			fsl,pins = <
				VF610_PAD_PTB2__GPIO_24			0x0182 	/* GPIO_RX232_EN */
				VF610_PAD_PTD0__UART2_TX		0x2182
				VF610_PAD_PTD1__UART2_RX		0x21ad
			>;
		};

		pinctrl_uart3: uart3grp {
			fsl,pins = <
				VF610_PAD_PTA20__UART3_TX		0x2182
				VF610_PAD_PTA21__UART3_RX		0x21ad
			>;
		};

	};
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	enable-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "okay";
};

&usbdev0 {
	disable-over-current;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb0>;
	status = "okay";
};

&usbh1 {
	disable-over-current;
	status = "okay";
};

&usbmisc0 {
	status = "okay";
};

&usbmisc1 {
	status = "okay";
};

&usbphy0 {
	status = "okay";
};

&usbphy1 {
	status = "okay";
};

