/*
 * Copyright 2016 DataSoft Corporation
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

/dts-v1/;
#include "dsvsom-1190.dtsi"

/ {
	model = "DataSoft Sidebridge Universal";

	chosen {
		bootargs = "console=ttyLP2,115200";
	};

	aliases {
		ethernet1 = &fec1;
	};

	rfmute {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_rfmute>;
		red {
			gpios = <&gpio2 19 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
		green {
			gpios = <&gpio2 20 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
		blue {
			gpios = <&gpio2 21 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};
};

&iomuxc {
	dsvsom-1214 {

		pinctrl_rfmute: rfmutegrp {
			fsl,pins = <
				VF610_PAD_PTA12__GPIO_5			0x03ad 	/* GPIO_PB_RF_MUTEN */
				VF610_PAD_PTC6__GPIO_51			0x0182 	/* GPIO_RF_MUTE_STAT_RED_LEDN */
				VF610_PAD_PTC7__GPIO_52			0x0182 	/* GPIO_RF_MUTE_STAT_GRN_LEDN */
				VF610_PAD_PTC8__GPIO_53			0x0182 	/* GPIO_RF_MUTE_STAT_BLU_LEDN */
			>;
		};

		pinctrl_fec1: fec1grp {
			fsl,pins = <
				VF610_PAD_PTA18__GPIO_8			0x0182 	/* GPIO_ENET1_NRESET */
				VF610_PAD_PTA19__GPIO_9			0x01ad 	/* GPIO_ENET1_NIRQ_OUT */
				VF610_PAD_PTA6__RMII_CLKIN		0x30df
				VF610_PAD_PTC9__ENET_RMII1_MDC		0x30df
				VF610_PAD_PTC10__ENET_RMII1_MDIO	0x30df
				VF610_PAD_PTC11__ENET_RMII1_CRS		0x30df
				VF610_PAD_PTC12__ENET_RMII1_RXD1	0x30df
				VF610_PAD_PTC13__ENET_RMII1_RXD0	0x30df
				VF610_PAD_PTC14__ENET_RMII1_RXER	0x30df
				VF610_PAD_PTC15__ENET_RMII1_TXD1	0x30df
				VF610_PAD_PTC16__ENET_RMII1_TXD0	0x30df
				VF610_PAD_PTC17__ENET_RMII1_TXEN	0x30df
			>;
		};

		pinctrl_usb0: usb0grp {
			fsl,pins = <
				VF610_PAD_PTA16__USB0_VBUS_EN		0x0182
				VF610_PAD_PTA17__USB0_VBUS_OC		0x0181
				VF610_PAD_PTB23__GPIO_93		0x01ad 	/* GPIO_CONN_USB0_ID */
			>;
		};

		pinctrl_uart2: uart2grp {
			fsl,pins = <
				VF610_PAD_PTB2__GPIO_24			0x0182 	/* GPIO_RX232_EN */
				VF610_PAD_PTD0__UART2_TX		0x2182
				VF610_PAD_PTD1__UART2_RX		0x21ad
			>;
		};

		pinctrl_uart3: uart3grp {
			fsl,pins = <
				VF610_PAD_PTA20__UART3_TX		0x2182
				VF610_PAD_PTA21__UART3_RX		0x21ad
			>;
		};

		pinctrl_tsc: tscgrp {
			fsl,pins = <
				VF610_PAD_PTB4__GPIO_26			0x01ad 	/* GPIO_TSC_GPIO0 */
				VF610_PAD_PTB5__GPIO_27			0x01ad 	/* GPIO_TSC_GPIO1 */
				VF610_PAD_PTB6__GPIO_28			0x01ad 	/* GPIO_TSC_GPIO2 */
				VF610_PAD_PTB7__GPIO_29			0x01ad 	/* GPIO_TSC_GPIO3 */
				VF610_PAD_PTB18__GPIO_40		0x01ad 	/* GPIO_TSC_NIRQ_OUT */
			>;
		};

		pinctrl_lcd: lcdgrp {
			fsl,pins = <
				VF610_PAD_PTE0__GPIO_105		0x38df 	/* GPIO_LCD_D0 */
				VF610_PAD_PTE1__GPIO_106		0x38df 	/* GPIO_LCD_D1 */
				VF610_PAD_PTE2__GPIO_107		0x38df 	/* GPIO_LCD_D2 */
				VF610_PAD_PTE3__GPIO_108		0x38df 	/* GPIO_LCD_D3 */
				VF610_PAD_PTE4__GPIO_109		0x38df 	/* GPIO_LCD_D4 */
				VF610_PAD_PTE5__GPIO_110		0x38df 	/* GPIO_LCD_D5 */
				VF610_PAD_PTE6__GPIO_111		0x38df 	/* GPIO_LCD_D6 */
				VF610_PAD_PTE7__GPIO_112		0x38df 	/* GPIO_LCD_D7 */
				VF610_PAD_PTE8__GPIO_113		0x38df 	/* GPIO_LCD_D8 */
				VF610_PAD_PTE9__GPIO_114		0x38df 	/* GPIO_LCD_D9 */
				VF610_PAD_PTE10__GPIO_115		0x38df 	/* GPIO_LCD_D10 */
				VF610_PAD_PTE11__GPIO_116		0x38df 	/* GPIO_LCD_D11 */
				VF610_PAD_PTE12__GPIO_117		0x38df 	/* GPIO_LCD_D12 */
				VF610_PAD_PTE13__GPIO_118		0x38df 	/* GPIO_LCD_D13 */
				VF610_PAD_PTE14__GPIO_119		0x38df 	/* GPIO_LCD_D14 */
				VF610_PAD_PTE15__GPIO_120		0x38df 	/* GPIO_LCD_D15 */
				VF610_PAD_PTE21__GPIO_126		0x0182 	/* GPIO_LCD_RESETN */
				VF610_PAD_PTE22__GPIO_127		0x38de 	/* GPIO_LCD_DAT_CMDN */
				VF610_PAD_PTE23__GPIO_128		0x38de 	/* GPIO_LCD_CSN */
				VF610_PAD_PTE24__GPIO_129		0x38de 	/* GPIO_LCD_WRN */
				VF610_PAD_PTE25__GPIO_130		0x38de 	/* GPIO_LCD_RDN */
				VF610_PAD_PTE26__GPIO_131		0x38de 	/* GPIO_LCD_IM0_8_16N */
			>;
		};
	};
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "okay";
};

&usbdev0 {
	disable-over-current;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb0>;
	status = "okay";
};

&usbh1 {
	disable-over-current;
	status = "okay";
};

&usbmisc0 {
	status = "okay";
};

&usbmisc1 {
	status = "okay";
};

&usbphy0 {
	status = "okay";
};

&usbphy1 {
	status = "okay";
};

&fec1 {
	phy-mode = "rmii";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec1>;
	phy-reset-duration = <10>;
	phy-reset-gpios = <&gpio1 8 0>;
	status = "okay";
};

